@media screen and (max-width: 420px) {
    #why .row {
        background-color: #f2f2cd;
    }

    .row {
        margin-top: 0px;
    }

    h1 {
        margin-top: 15px;
        font-size: 50px;
    }

    h3 {
        font-size: 35px;
        margin: 0;
    }

    /* Lezioni*/
    #lezioni .row {
        background-color: #f2f2cd;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        margin: auto;
        font-size: 30px;
        width: 90%;
        margin-bottom: 30px;
    }

    /* Steps */

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        margin: auto;
        font-size: 30px;
        width: 90%;
        margin-bottom: 30px; 
    }

    /* Why */
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        float: none;
        margin: auto;
        font-size: 30px;
        width: 90%;
        margin-bottom: 30px; 
}
}