@media screen and (max-width: 420px) {
    .row {
        width: auto;
        margin-top: 0px;
    }

    h1 {
        padding-top: 15px;
        margin-top: 0px;
        font-size: 30px;
    }

    h3 {
        font-size: 19px;
        margin: 0;
    }

    img {
        height: 100px;
    }

    body {
        margin: 0px;
    }


    .container.grey {
        background-color: transparent;
    }
    /* Lezioni*/
    #lezioni .row {
        background-color: #f2f2cd;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        margin: auto;
        font-size: 15px;
        width: 90%;
        margin-bottom: 30px;
    }

    /* Steps */

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        margin: auto;
        font-size: 15px;
        width: 90%;
        margin-bottom: 30px;
    }

    /* Why */
    #why .row {
        background-color: #f2f2cd;
    }
    
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        float: none;
        margin: auto;
        font-size: 15px;
        width: 90%;
        margin-bottom: 30px;
}
}